li {
    padding: 5px;
    margin: 5px;
    background: white;
  }
  
.col-centered {
  float: none;
  margin: 0 auto;
}

.col-notcentered {
  margin-left: 0.2%;
}

h1, h2, label {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.body {
  background-color: #FF7710;
}